{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    RISK INPUT SCREEN
{% endblock %}



{% block content %}
	{{form.errors}}

	<font size="4">
	<table class="table">
	<tr>
		<td> Round chosen for payment </td>
		<td> {{ player.group.subsession.paying_round }} </td>
	</tr>
	<tr>
		<td> Your earning in the main part of the experiment </td>
		<td> {{ player.final_treatment_profit }} </td>
	</tr>
	<tr>
		<td> Your earning in the first post-experimental task </td>
		<td> </td>
	</tr>
	<tr style="border-bottom:1px solid black">
		<td> Your earnings in the second post-experimental tas </td>
		<td> </td>
	</tr>
	<tr style="border-bottom:1px solid black">
		<td> Your Total Earnings </td>
		<td> </td>
	</tr>
	<tr>
		<td> Input email (Obligatory to receive the payment) </td>
		<td> {% formfield form.email with label="" %} </td>
	</tr>
	<tr>
		<td> </td>
		<td>{% next_button %} </td>
	</tr>
	</table>
	</font>


{% endblock %}
