{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    BELIEFS INSTRUCTIONS SCREEN
{% endblock %}


{% block content %}

In this task you will be asked to input your belief about the <b>median price</b> chosen by another player.
<br><br>

<b>Median price</b> is a number such that half of the observation are below and half are above. 

<br><br>

You will be given a chance to win a prize of <b>£{{Constants.beliefs_revenue}}</b> depending of how precise you guessed the <b>median price</b>.

<br><br>

To maximize this chance it is of best interest for you to <b>report your belief truthfully</b>.

<br><br>

The exact chance of winning is computed as follows:
<br>
<ul>
	<li>
		We take all submitted prices of the players which played the different role from you from this session.
		<br>
		That is, if you were buyer we take all observations from all sellers in all rounds participated in the session; and if you are a seller we take all observation from all buyers in all rounds participated in this session. That is in total there are 100 obseration.
	</li>
	<li>
		We compute the share of observation which are below and above of your submitted belief (median).
		<br>
		That is if there are 70 observations below your submitted beliefs and 30 above, then the relative shares would be .7 and .3 (just divided numbers by 100, that is the total number of observations).
	</li>
	<li>
		The (percentage) chance of winning is equal to the product of these relative shares multiplied by 400.
		<br>
		That is in the example above the chance of winning is the chance of wining is 84 per cent.
		By the chance of winning we mean the that the computer would generate a random number between 0 and 100 (inclusively with all numbers having same chance of being chose) and if the number is below your chance of winning then you are getting the prize, otherwise you are not getting the prize.
		<br>
		Note that if the your report is such that exactly half of the observations are below and half are above, then you are getting the prize for sure.
	</li>
</ul>


The following chart presents (examples of some of) the chances of winning given the real split of the observations below and above the reported median:
<br><br>



<font size="3">
	<table class="table" border="2"  class="border">
	<tr>
		<td>
			Shares below/above
		</td>
		<td>
			0/100
		</td>
		<td>
			10/90
		</td>
		<td>
			20/80
		</td>
		<td>
			30/70
		</td>
		<td>
			40/60
		</td>
		<td>
			50/50
		</td>
		<td>
			60/40
		</td>
		<td>
			70/30
		</td>
		<td>
			80/20
		</td>
		<td>
			90/10
		</td>
		<td>
			100/0
		</td>
	</tr>
	<tr>
		<td>
			Chance of winning
		</td>
		<td>
			0%
		</td>
		<td>
			36%
		</td>
		<td>
			64%
		</td>
		<td>
			84%
		</td>
		<td>
			96%
		</td>
		<td>
			100%
		</td>
		<td>
			96%
		</td>
		<td>
			84%
		</td>
		<td>
			64%
		</td>
		<td>
			36%
		</td>
		<td>
			0%
		</td>
	</tr>




	</table>
	</font>



<br><br>

<div class="text-right">

{% next_button %} 
<div class="text-right">

{% endblock %}