{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Please input your belief
{% endblock %}



{% block content %}
	{{form.errors}}

	<font size="4" bir>
		Please input <b>your belief about the median price</b> of players of the different role
		<br>
		Your belief must be an <b>integer number between 0 and 100</b>.
		<br>
		Recall that to maximize your chance of winning you should <b>report your belief thruthfully</b>.
		<br><br>

	<table class="table" border = "0">
	<tr>
		<td> Your role is </td>
		<td>  <b>{{ player.role }}</b> </td>
	</tr>
	<tr>
		<td> Please input your belief  </td>
		<td> {% formfield form.fob_median with label="" %} </td>
	</tr>
	</table>
	</font>

<hr>
<br>

The following chart presents (examples of some of) the chances of winning given the real split of the observations below and above the reported median:
<br><br>


<font size="3">
	<table class="table" border="2"  class="border">
	<tr>
		<td>
			Shares below/above
		</td>
		<td>
			0/100
		</td>
		<td>
			10/90
		</td>
		<td>
			20/80
		</td>
		<td>
			30/70
		</td>
		<td>
			40/60
		</td>
		<td>
			50/50
		</td>
		<td>
			60/40
		</td>
		<td>
			70/30
		</td>
		<td>
			80/20
		</td>
		<td>
			90/10
		</td>
		<td>
			100/0
		</td>
	</tr>
	<tr>
		<td>
			Chance of winning
		</td>
		<td>
			0%
		</td>
		<td>
			36%
		</td>
		<td>
			64%
		</td>
		<td>
			84%
		</td>
		<td>
			96%
		</td>
		<td>
			100%
		</td>
		<td>
			96%
		</td>
		<td>
			84%
		</td>
		<td>
			64%
		</td>
		<td>
			36%
		</td>
		<td>
			0%
		</td>
	</tr>

</table>
</font>

<br>

<div class="text-right">
	{% next_button style="position: relative; right: 50;" %} 
</div>


{% endblock %}
