{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    PRICE INPUT SCREEN
{% endblock %}



{% block content %}
	{{form.errors}}

	<font size="4">
	<table class="table">
		<tr>
		<td>
		<b> Action Part: Add some words </b>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td> Your role is </td>
		<td>  <b>{{ player.role }}</b> </td>
	</tr>
	<tr>
		<td> Your value </td>
		<td> <b>{{ player.value }}</b> </td>
	</tr>
	
	<tr>
		<td> Please set up the price </td>
		<td> {% formfield form.personal_price with label="" %} </td>
	</tr>
	
	<tr>
		<td> </td>
		<td>{% next_button %} </td>
	</tr>
	</table>
	</font>


{% endblock %}
