{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Round {{player.round_number}}
{% endblock %}



{% block content %}
	{{form.errors}}
<table class="table">
	<font size="4">
	
		<tr>
		<td>
		<b> Action Part: Add some words </b>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td> Your role is </td>
		<td>  <b>{{ player.role }}</b> </td>
	</tr>
	<tr>
		<td> Your value </td>
		<td> <b>{{ player.value }}</b> </td>
	</tr>
	
	<tr>
		<td> Please set up the price </td>
		<td> {% formfield form.personal_price with label="" %} </td>
	</tr>
</table>

<table class="table">
	<tr>
		<td><b> In this part you would be asked to guess </b></td>
	</tr>
	<tr>
		{% if player.role == 'buyer' %}
		<td> the seller’s minimum price </td>
		{% else %}
		<td> the buyer’s maximum price </td>
		{% endif %}
		<td><input type="radio" id="fob" name="fob" value="0"> <label for="0">0-19</label></td>	
		<td><input type="radio" id="fob" name="fob" value="2"> <label for="0">20-39</label></td>	
		<td><input type="radio" id="fob" name="fob" value="4"> <label for="0">40-59</label></td>	
		<td><input type="radio" id="fob" name="fob" value="6"> <label for="0">60-79</label></td>
		<td><input type="radio" id="fob" name="fob" value="8"> <label for="0">80-100</label></td>
	</tr>
	<tr>
		{% if player.role == 'buyer' %}
		<td> the seller’s belief about your maximum price </td>
		{% else %}
		<td> the buyer’s belief about your minimum price </td>
		{% endif %}
		<td><input type="radio" id="sob" name="sob" value="0"> <label for="0">0-20</label></td>	
		<td><input type="radio" id="sob" name="sob" value="2"> <label for="0">20-40</label></td>	
		<td><input type="radio" id="sob" name="sob" value="4"> <label for="0">40-60</label></td>	
		<td><input type="radio" id="sob" name="sob" value="6"> <label for="0">60-80</label></td>
		<td><input type="radio" id="sob" name="sob" value="8"> <label for="0">80-100</label></td>
	</tr>
	<tr>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td> </td>
		<td>{% next_button %} </td>
	</tr>
</table>
	
	</font>


{% endblock %}
