{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions for the second task
{% endblock %}




{% block content %}
You are endowed with £2. You can choose to invest any integer amount between £0 and £2 in a risky project.
<br><br>
Money that are not invested in the risky project are yours to keep.
<br><br>
The risky project has a 50% chance of success.
<br><br>
If the project is successful, you will receive 3 times the amount you chose to invest.
<br><br>
If the project is unsuccessful, you will lose the amount invested.
<br><br>
Please choose the amount you would like to invest in the risky project. <br> Note that you can choose any integer amount between £0 and £2.
<br><br>
{% next_button %} 

{% endblock %}
