{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    BELIEFS INSTRUCTIONS SCREEN
{% endblock %}


{% block content %}

In this task you will be asked to input your belief about the <b>the belief of median price</b> chosen by another player.
<br><br>

That is <b>belief about the beliefs other participants expressed in the previous task</b>.

<br><br>

You will be given a chance to win a prize of <b>£{{Constants.beliefs_revenue}}</b> depending of how precise you guessed the <b>belief about the median price</b>.

<br><br>

To maximize this chance it is of best interest for you to <b>report your belief truthfully</b>.

<br><br>

The exact chance of winning is computed as follows:
<br>
<ul>
	<li>
		We take all submitted prices of the players which played the different role from you from this session.
		<br>
		That is, if you were buyer we take all observations from all sellers participated in the session; and if you are a seller we take all observation from all buyers participated in this session. That is in total there are 10 obseration.
	</li>
	<li>
		We compute the share of observation which are below and above of your submitted belief (median).
		<br>
		That is if there are 7 observations below your submitted beliefs and 3 above, then the relative shares would be .7 and .3 (just divided numbers by 10, that is the total number of observations).
	</li>
	<li>
		The (percentage) chance of winning is equal to the product of these relative shares multiplied by 400.
		<br>
		That is in the example above the chance of winning is the chance of wining is 84 per cent.
		By the chance of winning we mean the that the computer would generate a random number between 0 and 100 (inclusively with all numbers having same chance of being chose) and if the number is below your chance of winning then you are getting the prize, otherwise you are not getting the prize.
		<br>
		Note that if the your report is such that exactly half of the observations are below and half are above, then you are getting the prize for sure.
	</li>
</ul>


The following chart presents (examples of some of) the chances of winning given the real split of the observations below and above the reported median:
<br><br>



<font size="3">
	<table class="table" border="2"  class="border">
	<tr>
		<td>
			Shares below/above
		</td>
		<td>
			0/10
		</td>
		<td>
			1/9
		</td>
		<td>
			2/8
		</td>
		<td>
			3/7
		</td>
		<td>
			4/6
		</td>
		<td>
			5/5
		</td>
		<td>
			6/4
		</td>
		<td>
			7/3
		</td>
		<td>
			8/2
		</td>
		<td>
			9/1
		</td>
		<td>
			10/0
		</td>
	</tr>
	<tr>
		<td>
			Chance of winning
		</td>
		<td>
			0%
		</td>
		<td>
			36%
		</td>
		<td>
			64%
		</td>
		<td>
			84%
		</td>
		<td>
			96%
		</td>
		<td>
			100%
		</td>
		<td>
			96%
		</td>
		<td>
			84%
		</td>
		<td>
			64%
		</td>
		<td>
			36%
		</td>
		<td>
			0%
		</td>
	</tr>




	</table>
	</font>



<br><br>

<div class="text-right">
{% next_button %} 
</div>
{% endblock %}