{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Final Results
{% endblock %}

{% block content %}
<font size="4">
Thank you for completing the experiment.
Please find the data on your final result below.

<br><br>

<table class="table">
    <tr> 
        <td> Your earning in the experiment </td>
        <td> {{player.treatment_payoff}} </td>
    </tr>
    <tr> 
        <td> Your earning in the post-experiment task 1</td>
        <td> {{ beauty_contest }} </td>
    </tr>
    <tr> 
        <td> Your earning in the post-experiment task 1</td>
        <td> {{ risk }} </td>
    </tr>
    <tr>
        <td> Show-up fee is </td>
        <td> {{show_up_fee}} </td>
    </tr>
    <tr>
        <td> Total payoff is  </td>
        <td> {{payoff}} </td>
    </tr>
</table>
</font>

{% endblock %}
