{% extends "global/Page.html" %}
{% load otree static %}

{% load staticfiles %}

{% block title %}
    Quiz: Question  {{player.question_number}}
{% endblock %}

{% block content %}



{% if form.errors %}
    <ol class="p-3 mb-2 bg-danger text-white">
    Your answer is incorrect. Please try again.
    </ol>
{% endif %}

<font size="4">
<table class="table">
    <tr> 
        <td style="width: 70%;"> You are Player </td>
        {% if my_number == 1 or my_number == 4 %}
        <td style="width: 30%;" > <b> {{ my_number }} </b> </td>
        {% else %}
        {% if my_profile == 1 or my_profile == 3%}
        <td style="width: 30%;"> <b> {{ my_number }}a </b> </td>
        {% elif my_profile == 2 or my_profile == 4%}
        <td style="width: 30%;"> <b> {{ my_number }}b </b> </td>
        {% endif %}
        {% endif %}
    </tr>
</table>

The payments for all players are shown below.
Your own payments are highlighted in bold.
<br>
{% if my_number == 3 or my_number == 2 %}
Other players do not know whether you are type {{my_number}}a or type {{my_number}}b.
{% endif %}

<br>
<br>

<table class="table">
    </tr>
    <tr>
        <td> Player </td>
        <td style="color:blue"> <b> blue </b> </td>
        <td style="color:green"> <b> green </b> </td>
        <td style="color:purple"> <b> purple </b> </td>
        <td style="color:#c24e00"> <b> orange </b> </td>
    </tr>

    <tr>   
    {% if my_number == 1%}
        <td> <b> 1 </b> </td>
        {% for temp in preference_profiles.0 %}
            <td> <b> {{ temp }} </b> </td>
        {% endfor %}
    {% else %}
        <td> 1 </td>
        {% for temp in preference_profiles.0 %}
            <td> {{ temp }} </td>
        {% endfor %}
    {% endif %}
    </tr>


    
    {% if my_profile == 1 %}
    <tr>
        <td> <b> 2a (50% chance) </b> </td>
        {% for temp in preference_profiles.1 %}
        <td> <b> {{ temp }} </b> </td>
        {% endfor %}
    </tr>

    <tr>
        <td> 2b (50% chance) </td>
        {% for temp in preference_profiles.2 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>

        {% elif my_profile == 2%}
    <tr>
        <td> 2a (50% chance) </td>
        {% for temp in preference_profiles.1 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>

    <tr>
        <td> <b> 2b (50% chance) </b> </td>
        {% for temp in preference_profiles.2 %}
        <td> <b> {{ temp }} </b> </td>
        {% endfor %}
        
    </tr>
        {% else %}
    <tr>
        <td> 2a (50% chance) </td>
        {% for temp in preference_profiles.1 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>

    <tr>
        <td> 2b (50% chance) </td>
        {% for temp in preference_profiles.2 %}
        <td> {{ temp }} </td>
        {% endfor %}
        
    </tr>    
    {% endif %}


    {% if my_profile == 3 %}
    <tr>
        <td> <b> 3a (50% chance) </b> </td>
        {% for temp in preference_profiles.3 %}
        <td> <b> {{ temp }} </b> </td>
        {% endfor %}
    </tr>

    <tr>
        <td> 3b (50% chance) </td>
        {% for temp in preference_profiles.4 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>

        {% elif my_profile == 4%}
    <tr>
        <td> 3a (50% chance) </td>
        {% for temp in preference_profiles.3 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>

    <tr>
        <td> <b> 3b (50% chance) </b> </td>
        {% for temp in preference_profiles.4 %}
        <td> <b> {{ temp }} </b> </td>
        {% endfor %}
        
    </tr>
        {% else %}
    <tr>
        <td> 3a (50% chance) </td>
        {% for temp in preference_profiles.3 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>

    <tr>
        <td> 3b (50% chance) </td>
        {% for temp in preference_profiles.4 %}
        <td> {{ temp }} </td>
        {% endfor %}
        
    </tr>    
    {% endif %}


    

    {% if my_number == 4 %}
    <tr>
        <td> <b> 4 </b> </td>
        {% for temp in preference_profiles.5 %}
        <td> <b> {{ temp }} </b> </td>
        {% endfor %}
    </tr>
    {% else %}
    <tr>
        <td> 4 </td>
        {% for temp in preference_profiles.5 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>
    {% endif %}

</table>

<br>

Assume the <b style="color:green"> green </b> alternative has been implemented.
What does <b>Player 1 think your payment is</b>?
<br>
<br>

<table class="table">
    <tr>
        <td> 
            <input id="Option1" type="radio" name="question" value="1" required> <b> 0 </b>
        </td>
        <td> 
            <input id="Option1" type="radio" name="question" value="2" required> <b> 5 </b>
        </td>
        <td> 
            <input id="Option1" type="radio" name="question" value="3" required> <b> 15 </b>
        </td>
        <td> 
            <input id="Option1" type="radio" name="question" value="4" required> <b> 20 </b>
        </td>
        <td> 
            <input id="Option1" type="radio" name="question" value="5" required> <b> Equally likely 5 and 15 </b>
        </td>
        <td> 
            <input id="Option1" type="radio" name="question" value="6" required> <b> Equally likely 5 and 20 </b>
        </td>
        <td> 
            <input id="Option1" type="radio" name="question" value="7" required> <b> Equally likely 15 and 20 </b>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td> {% next_button %} </td>
    </tr>
</table>



<style>
    .otree-form-errors {
  display: none;
}
    .errorlist {
        display:none;
    }
</style>

{% endblock %}
