{% extends "global/Page.html" %}
{% load otree static %}

{% load staticfiles %}

{% block title %}
    Quiz: Question {{player.question_number}}
{% endblock %}

{% block content %}



{% if form.errors %}
    <ol class="p-3 mb-2 bg-danger text-white">
    Your answer is incorrect. Please try again.
    </ol>
{% endif %}

<font size="4">
    Assume in <b> Stage {{stage_number}}</b>
<ul>
    <li>
        <b>Two</b> players voted <b style="color:blue">blue</b>,
    </li>
    <li>
        <b>One</b> player voted for <b style="color:purple">purple </b>, and
    </li>
    <li>
        <b>One</b> player voted for <b style="color:#c24e00">orange </b>
    </li>
</ul>

Which alternative would be eliminated? 

<table class="table">
    <tr> 
        <td> 
            <input id="Option1" type="radio" name="question" value="1" required> <b style="color:blue">blue </b>
        </td>
        <td> 
            <input id="Option1" type="radio" name="question" value="2" required> <b style="color:green">green </b>
        </td>
        <td> 
            <input id="Option1" type="radio" name="question" value="3" required> <b style="color:purple">purple </b>
        </td>
        <td> 
            <input id="Option1" type="radio" name="question" value="4" required> <b style="color:#c24e00">orange </b>
        </td>
        <td> 
            <input id="Option1" type="radio" name="question" value="5" required> <b> All alterantives voted for are equally likely </b>
        </td>
        <td> </td>
    </tr>
    <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td></td>
        <td> {% next_button %}  </td>
    </tr>
</table>

</font>
<style>
    .otree-form-errors {
  display: none;
}
    .errorlist {
        display:none;
    }
</style>

{% endblock %}
