{% extends "global/Page.html" %}
{% load otree static %}

{% load staticfiles %}

{% block title %}
    Quiz: Question  {{player.question_number}}
{% endblock %}

{% block content %}



{% if form.errors %}
    <ol class="p-3 mb-2 bg-danger text-white">
    Your answer is incorrect. Please try again.
    </ol>
{% endif %}

<font size="4">

{% include "global/Preferences.html" %}


<br>


Assume the <b style="color:blue"> blue </b> alternative has been implemented.
What is the payment for <b>Player 4</b>?

<br>
<br>

{% include "global/Question.html" %}

</font>

<div id="NextButton" style="float: right;">
{% next_button %}
</div>

<style>
    .otree-form-errors {
  display: none;
}
    .errorlist {
        display:none;
    }
</style>

{% endblock %}
