{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Voting
{% endblock %}

{% block content %}
<font size="4">

<table class="table">
    <tr> 
        <td style="width: 70%;"> You are Player </td>
        {% if my_number == 1 or my_number == 4 %}
        <td style="width: 30%;" > <b> {{ my_number }} </b> </td>
        {% else %}
        {% if my_profile == 1 or my_profile == 3%}
        <td style="width: 30%;"> <b> {{ my_number }}a </b> </td>
        {% elif my_profile == 2 or my_profile == 4%}
        <td style="width: 30%;"> <b> {{ my_number }}b </b> </td>
        {% endif %}
        {% endif %}
    </tr>
</table>


The payments for all players are shown below.
Your own payments are highlighted in bold.
<br>
{% if my_number == 3 or my_number == 2 %}
Recall that the other players do not know whether you are type {{my_number}}a or type {{my_number}}b.
{% endif %}


<br>
<br>

<table class="table">
    </tr>
    <tr>
        <td> Player </td>
        <td> W </td>
        <td> X </td>
        <td> Y </td>
        <td> Z </td>
    </tr>

    <tr>   
    {% if my_number == 1%}
        <td> <b> 1 </b> </td>
        {% for temp in preference_profiles.0 %}
            <td> <b> {{ temp }} </b> </td>
        {% endfor %}
    {% else %}
        <td> 1 </td>
        {% for temp in preference_profiles.0 %}
            <td> {{ temp }} </td>
        {% endfor %}
    {% endif %}
    </tr>


    {% if my_number == 2 %}
    <tr>
        <td> <b> 2 </b> </td>
        {% for temp in my_preferences %}
        <td> <b> {{ temp }} </b> </td>
        {% endfor %}
    </tr>
    {% else %}
    <tr>
        <td> 2a (50% chance) </td>
        {% for temp in preference_profiles.1 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>
    <tr>
        <td> 2b (50% chance) </td>
        {% for temp in preference_profiles.2 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>
    {% endif %}


    {% if my_number == 3 %}
    <tr>
        <td> <b> 3 </b> </td>
        {% for temp in my_preferences %}
        <td> <b> {{ temp }} </b> </td>
        {% endfor %}
    </tr>
    {% else %}
    <tr>
        <td> 3a (50% chance) </td>
        {% for temp in preference_profiles.3 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>
    <tr>
        <td> 3b (50% chance) </td>
        {% for temp in preference_profiles.4 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>
    {% endif %}

    {% if my_number == 4 %}
    <tr>
        <td> <b> 4 </b> </td>
        {% for temp in my_preferences %}
        <td> <b> {{ temp }} </b> </td>
        {% endfor %}
    </tr>
    {% else %}
    <tr>
        <td> 4 </td>
        {% for temp in preference_profiles.3 %}
        <td> {{ temp }} </td>
        {% endfor %}
    </tr>
    {% endif %}

</table>


One of the four alternatives has been randomly eliminated.
Please vote to eliminate one of the remaining alternatives below.
The alternative that receives the most votes will be eliminated.

<br>
<br>

<table class="table">
    <tr>
        <td> The remaining alternatives are </td>
        <td> <b> {{options.0}} </b> </td>
        <td> <b> {{options.1}} </b> </td>
        <td> <b> {{options.2}} </b> </td>
     </tr>
     <tr> 
        <td> Select the alternative you would like to vote to eliminate </td>
        <td> <input id="Option1" type="radio" name="vote_stage1" value="{{numeric_options.0}}" required> 
            <label for="Option1"> {{options.0}} </label>
        </td>
        <td> <input id="Option2" type="radio" name="vote_stage1" value="{{numeric_options.1}}" required> 
            <label for="Option2"> {{options.1}} </label>
        </td>
        <td> <input id="Option2" type="radio" name="vote_stage1" value="{{numeric_options.2}}" required> 
            <label for="Option2"> {{options.2}} </label>
        </td>
     </tr>


     <tr>
         <td> </td>
         <td> </td>
         <td> </td>
         <td> {% next_button %} </td>
     </tr>
</table>


</font>
    
{% endblock %}