{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    The experiment is finished...
{% endblock %}



{% block content %}
	{{form.errors}}

	<font size="4">
	<table class="table">
	<tr style="border-bottom:2px solid black">
		<td> Round chosen for payment </td>
		<td> {{ player.group.subsession.paying_round }} </td>
	</tr>
	<tr>
		<td> Your earning in trade</td>
		<td> {{ player.final_treatment_profit }} </td>
	</tr>
	<tr>
		<td> Your earnings in the beliefs elicitation </td>
		<td> {{ player.final_beliefs_profit}} </td>
	</tr>
	<tr>
		<td> Your earnings in the post-experimental task 1 </td>
		<td> {{ player.my_prize }}</td>
	</tr>
	<tr>
		<td> Your earnings in the post-experimental task 2 </td>
		<td> {{ player.risk_profit }}</td>
	</tr>
	<tr style="border-bottom:2px solid black">
		<td> Your show-up fee is </td>
		<td> {{ Constants.show_up_fee }} </td>
	</tr>
	<tr >
		<td> Randomly the following part was chosen for payment</td>
		<td> {% if trade_chosen == True %} 
			<b> Trade </b>
			{% else %}
			<b> Beliefs </b>
			{% endif %}
		</td>
	</tr>
	<tr style="border-bottom:2px solid black">
		<td> Your Total Earnings </td>
		<td>  {{ player.final_profit }} </td>
	</tr>
<!---
	<tr>
		
		<td> Input email (Obligatory to receive the payment) </td>
		<td> {% formfield form.email with label="" %} </td>
	
	</tr>

	<tr>
		<td> </td>
		<td>{% next_button %} </td>

	{{player.my_guess}}
	{{player.is_winner}}
	{{player.goal_guess}}
	{{player.my_distance}}
	{{player.number_of_winners}}
	</tr>-->
	</table>
	</font>





{% endblock %}
